<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenVPN Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="w-screen text-white">
    <main v-cloak class="container mx-auto py-10 px-10">




        <form action="/login" method="post"
            class="flex flex-col gap-4 w-1/3 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gray-800 p-10 rounded-lg shadow-lg">

            <h1 class="text-5xl text-center font-bold p-4">
                <span class="text-orange-400">Open</span>
                <span class="text-blue-700">VPN</span>
                Dashboard
            </h1>
            <div class="flex gap-2 items-center">
                <label for="password" class=" text-xl font-bold">Password</label>
                <input name="password" class="rounded-lg w-full" type="password">
            </div>
            <button class="btn bg-blue-500 hover:bg-blue-600 text-white" type="submit">Login</button>
        </form>
    </main>
</body>

</html>