<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenVPN Dashboard</title>
    <!-- tailwindcss -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.6/tailwind.min.css">
</head>

<body class="w-screen flex items-center justify-center bg-neutral-800 text-white">
    <form action="/login" method="post">
        <label for="password">Password</label>
        <input name="password" class="text-black" type="password">
        <button type="submit">Login</button>
    </form>
    <div class="">{{session['logged_in']}}</div>
</body>

</html>